@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --primary: #1a5c4a;
  --primary-light: #2a7a63;
  --black: #0e0f0f;
  --off-white: #eee9e1;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-black: var(--black);
  --color-off-white: var(--off-white);

  --font-inter: "Inter", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
}

body {
  background: var(--off-white);
  color: var(--black);
  scroll-behavior: smooth;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.container {
  @apply max-w-6xl mx-auto px-5 md:px-8;
}

.glowable-text {
  color: black;
}

[glow] .glowable-text {
  color: var(--glow-color);
}
